* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 10fr 1fr;
  height: 100vh;
  width: 100vw;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-row: 1;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: start;
}
.menu {
  grid-column: 2 / 3;
  justify-self: stretch;
  align-self: stretch;
  align-content: center;
}
.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
.header li{
  display: inline-block;
}
.header div {
  display: inline-block;
}
.menu ul,
.menu li {
  font-size: 16px;
}
ul {
  list-style-type: none;
}

.sidebar {
  background-color: #C50208;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: repeat(auto-fit,1fr);
  grid-template-columns: 1fr;
  gap: 50px;
}
.sidebar > div {
  border-radius: 10px;
  align-content: center;
}
.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  display: inline;
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}